@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

* {
    margin: 0;
}

body {
    background: var(--bk);
    font-family: 'Montserrat', arial, sans-serif;
    font-weight: 500;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--txt);
    display: flex;
    align-items: center;
    gap: 10px;
}

h1 {
    color: var(--accent2);
}

h5 {
    color: var(--txt2);
    margin: 0 0 10px;
}

p {
    color: var(--txt2);
}

a {
    cursor: pointer;
}

header {
    margin: 30px min(2vw, 50px) 10px;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-content: space-between;
}

section {
    flex-grow: 4;
    min-width: clamp(250px, 25vw, 350px);
    margin: 20px min(2vw, 50px) 10px;
    padding: 25px 20px 10px;
    border-radius: 6px;
    box-shadow: 0 0 5px var(--shadow);
    background-color: var(--bk2);
}

.g1 {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto;
    justify-content: start;
    justify-items: stretch;
    align-items: stretch;
    overflow: auto;
    gap: 10px;
    padding: 10px 20px;
    margin: 5px -20px 0;
}

.gItem {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    min-width: clamp(200px, 22.5vw, 300px);
    padding: 20px 15px;
    border-radius: 6px;
    box-shadow: 0 0 5px var(--shadow);
    background-color: var(--bk2);
}

.gItem>img {
    top: 20px;
    right: 20px;
    height: 40px;
    border-radius: 100px;
}

.toast, .languagediv {
    display: grid;
    grid-auto-flow: column;
    max-height: 50px;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    min-height: 44px;
    border: none;
    background: var(--button);
    color: var(--accent);
    cursor: pointer;
    font-family: 'Montserrat', arial, sans-serif;
    padding: 10px 15px;
    border-radius: 6px;
    box-shadow: none;
    transition: box-shadow 0.2s, border 0.2s;
}

button:hover {
    box-shadow: inset 0 0 0 3px var(--shadow);
    outline: none;
}

button:focus {
    box-shadow: inset 0 0 0 3px #93d996b2;
    outline: none;
}

button.selected {
    color: var(--shadow);
}

button[disabled], button:not([onclick]) {
    color: var(--shadow);
    box-shadow: none;
    cursor: default;
}

#bigLogo {
    padding: 0 20px;
    fill: var(--accent);
    height: 50px;
}

#popupWrapper {
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--shadow);
    animation: fadeIn 0.25s;
}

.popup {
    background-color: var(--bk2);
    padding: 20px;
    box-shadow: 0 0 5px var(--shadow);
    border-radius: 6px;
    animation: flyIn 0.25s;
    overflow-wrap: normal;
}

#langlist {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
}

.hidden {
    display: none !important;
}

.grid-rows {
    display: grid;
    grid-auto-flow: row;
    gap: 10px;
}

.grid-columns {
    display: grid;
    grid-auto-flow: column;
    overflow: auto;
    gap: 10px;
}

.grid-space-between {
    display: grid;
    align-content: space-between;
}

.section1 {
    display: flex;
    align-content: stretch;
    overflow: auto;
    margin: -10px 0;
}

.section1>img {
    height: 192px;
    margin: 20px min(2vw, 50px) 10px 0;
    border-radius: 6px;
    box-shadow: 0 0 5px var(--shadow);
    background-color: var(--bk2);
}

.section1>section {
    margin: 20px 10px 10px min(2vw, 50px);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes flyIn {
    from {
        top: 0;
    }

    to {
        top: 1;
    }
}