@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");
:root {
    --txt: #363636;
    --txt2: #585858;
    --bk: #f7f7f7;
    --bk2: #ffffff;
    --accent: #629464;
    --headings: #3b803f;
    --darker: #d8d8d860;
    --shadow: #aaaaaa60;
}

@media (prefers-color-scheme: dark) {
    :root {
        --txt: #EEEEEE;
        --txt2: #bebebe;
        --bk: #333333;
        --bk2: #363636;
        --accent: #77bb78;
        --headings: #7eca82;
        --darker: #25252560;
        --shadow: #05050560;
    }
}

* {
    margin: 0;
    transition: max-height 0.25s;
}

body {
    background: var(--bk);
    font-family: 'Montserrat', arial, sans-serif;
    font-weight: 500;
}

#errorpage {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--txt);
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
}

h1 {
    color: var(--headings);
}

h5 {
    color: var(--txt2);
}

header {
    margin: 30px min(2vw, 50px) 10px;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
}

.s1 {
    margin: 20px min(2vw, 50px) 10px;
    padding: 25px 20px 10px;
    border-radius: 6px;
    box-shadow: 0 0 5px var(--shadow);
    background-color: var(--bk2);
}

.g1 {
    display: flex;
    justify-content: left;
    align-items: stretch;
    overflow: auto;
    gap: 10px;
    padding: 10px;
    margin: 5px -10px -15px;
}

.gItem {
    min-width: clamp(150px, 22.5vw, 300px);
    padding: 20px 15px;
    border-radius: 6px;
    box-shadow: 0 0 5px var(--shadow);
    background-color: var(--bk2);
}

.gItem>img {
    top: 20px;
    right: 20px;
    height: 40px;
    border-radius: 100px;
}

div {
    justify-content: center;
    align-items: center;
}

p {
    margin: 10px 0 0;
    color: var(--txt2);
}

.toast, .languagediv {
    display: flex;
    max-height: 50px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: none;
    background: var(--darker);
    color: var(--accent);
    cursor: pointer;
    font-family: 'Montserrat', arial, sans-serif;
    padding: 10px 15px;
    margin: 10px 0 0;
    border-radius: 6px;
    box-shadow: none;
    transition: box-shadow 0.2s, border 0.2s;
}

button:hover {
    box-shadow: inset 0 0 0 3px var(--shadow);
    outline: none;
}

button:focus {
    box-shadow: inset 0 0 0 3px #93d996b2;
    outline: none;
}

button[disabled] {
    color: var(--txt2);
    box-shadow: none;
    cursor: default;
}

select {
    cursor: pointer;
    padding: 9px 15px;
    max-width: 99vw;
}

#bigLogo {
    fill: var(--accent);
    height: 50px;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.scroller {
    display: flex;
    justify-content: space-between;
    color: var(--darker);
    cursor: default;
}

.scroller>*.active {
    color: var(--accent);
    cursor: pointer;
}