@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");
:root {
    --txt: #363636;
    --txt2: #585858;
    --bk: #f7f7f7;
    --bk2: #ffffff;
    --accent: #629464;
    --accent2: #3b803f;
    --button: #d8d8d860;
    --shadow: #aaaaaa60;
}

@media (prefers-color-scheme: dark) {
    :root {
        --txt: #EEEEEE;
        --txt2: #bebebe;
        --bk: #2b2b2b;
        --bk2: #303030;
        --accent: #77bb78;
        --accent2: #7eca82;
        --button: #3f3f3f60;
        --shadow: #05050560;
    }
}

* {
    margin: 0;
    transition: max-height 0.25s;
}

body {
    background: var(--bk);
    font-family: 'Montserrat', arial, sans-serif;
    font-weight: 500;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--txt);
    display: grid;
    grid-auto-flow: column;
    justify-content: left;
    align-items: center;
    gap: 10px;
}

h1 {
    color: var(--accent2);
}

h5 {
    color: var(--txt2);
}

h2>.feather {
    color: var(--accent);
}

header {
    margin: 30px min(2vw, 50px) 10px;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-content: space-between;
}

section {
    margin: 20px min(2vw, 50px) 10px;
    padding: 25px 20px 10px;
    border-radius: 6px;
    box-shadow: 0 0 5px var(--shadow);
    background-color: var(--bk2);
}

.g1 {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto;
    justify-content: start;
    justify-items: stretch;
    align-items: stretch;
    overflow: auto;
    gap: 10px;
    padding: 10px 20px;
    margin: 5px -20px 0;
}

.gItem {
    min-width: clamp(150px, 22.5vw, 300px);
    padding: 20px 15px;
    border-radius: 6px;
    box-shadow: 0 0 5px var(--shadow);
    background-color: var(--bk2);
}

.gItem>img {
    top: 20px;
    right: 20px;
    height: 40px;
    border-radius: 100px;
}

div {
    justify-content: center;
    align-items: center;
}

p {
    margin: 10px 0 0;
    color: var(--txt2);
}

.toast, .languagediv {
    display: grid;
    grid-auto-flow: column;
    max-height: 50px;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

button {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: none;
    background: var(--button);
    color: var(--accent);
    cursor: pointer;
    font-family: 'Montserrat', arial, sans-serif;
    padding: 10px 15px;
    margin: 10px 0 0;
    border-radius: 6px;
    box-shadow: none;
    transition: box-shadow 0.2s, border 0.2s;
}

button:hover {
    box-shadow: inset 0 0 0 3px var(--shadow);
    outline: none;
}

button:focus {
    box-shadow: inset 0 0 0 3px #93d996b2;
    outline: none;
}

button[disabled], button:not([onclick]) {
    color: var(--txt2);
    box-shadow: none;
    cursor: default;
}

#bigLogo {
    padding: 0 20px;
    fill: var(--accent);
    height: 50px;
}

.gridsb {
    display: grid;
    align-content: space-between;
}