@import url("colors.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  background-color: rgb(var(--bgPrimary));
  font-family: "Montserrat", arial, sans-serif;
  font-weight: 500;
  overflow-x: hidden;
  margin: 0;
}

body:has(.modal) {
  overflow-y: hidden;
}

section {
  display: flex;
  flex-direction: column;
  gap: 1em;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  padding: 1em 3em;
  padding-right: 80px;
  transition: padding 200ms;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgb(var(--fgPrimary));
  margin: 0;
}

p {
  font-weight: 600;
  color: rgb(var(--fgSecondary));
  margin: 0;
}

li {
  font-weight: 500;
  color: rgb(var(--fgTertiary));
}

footer {
  font-size: small;
  color: rgb(var(--fgSecondary));
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}