@import url("colors.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    transition: background-color 200ms, color 200ms;
}

html {
    scroll-snap-type: y mandatory;
}

body {
    background-color: var(--bgPrimary);
    font-family: "Montserrat", arial, sans-serif;
    font-weight: 500;
    overflow-x: hidden;
    margin: 0;
}

body:has(.modal) {
    overflow-y: hidden;
}

section {
    display: grid;
    grid-template:
        'heading' auto
        'content' 1fr
        / 1fr;
    gap: 1em;
    min-height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    padding: 2em 86px 2em 3em;
    transition: padding 200ms;
    scroll-snap-align: start;
}

.sectionGrid {
    display: grid;
    grid-template:
        'a1 a2 a3' auto
        'a4 a5 a6' auto
        / 1fr 1fr 1fr;
    gap: 1em;
}

section.quarter {
    min-height: 25vh;
}

section.half {
    min-height: 50vh;
}

section.threequarters {
    min-height: 75vh;
}

.sectionGrid>*:nth-child(1) {
    grid-area: a1;
}

.sectionGrid>*:nth-child(2) {
    grid-area: a2;
}

.sectionGrid>*:nth-child(3) {
    grid-area: a3;
}

.sectionGrid>*:nth-child(4) {
    grid-area: a4;
}

.sectionGrid>*:nth-child(5) {
    grid-area: a5;
}

.sectionGrid>*:nth-child(6) {
    grid-area: a6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--fgPrimary);
    margin: 0;
}

p {
    font-weight: 500;
    color: var(--fgSecondary);
    margin: 0;
}

li {
    font-weight: 500;
    color: var(--fgTertiary);
}

footer {
    font-size: small;
    color: var(--fgSecondary);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}