:root[data-color-scheme=st] {
    --hue: 209;
}

:root[data-color-scheme=error] {
    --sat1: 0%;
    --sat2: 0%;
    --lum: 7%;
}

:root {
    --hue: 130;
    --sat1: 40%;
    --sat2: 36%;
    --lum: 30%;
    --accentLight: hsl(var(--hue), 20%, 48%);
    --accentDark: hsl(var(--hue), 55%, 30%);
    --accentWarn: hsl(0, 40%, 48%);
    --accentOk: hsl(160, 40%, 48%);
    --accentVeryLight: hsl(var(--hue), 53%, 87%);
    --accentVeryLightContrast: hsl(var(--hue), 53%, 87%);
    --bgPrimary: hsl(0, 0%, 100%);
    --bgSecondary: hsl(0, 0%, 94%);
    --bgContrast: hsl(0, 0%, 21%);
    --bgHighlight: hsl(var(--hue), 100%, 97%);
    --bgPositive: hsl(156deg, 100%, 87%);
    --fgPrimary: hsl(0, 0%, 21%);
    --fgSecondary: hsl(0, 0%, 35%);
    --fgTertiary: hsl(0, 0%, 38%);
    --fgContrast: hsl(0, 0%, 100%);
    --greyLight: hsl(0, 0%, 67%);
    --tablePrimary: hsl(0, 0%, 100%);
    --tableEmpty: hsl(0, 0%, 94%);
    --border: hsl(0, 0%, 90%);
    color-scheme: light;
}

:root[data-theme=dark] {
    --accentLight: hsl(var(--hue), 55%, 30%);
    --accentDark: hsl(var(--hue), 20%, 48%);
    --accentWarn: hsl(0, 40%, 40%);
    --accentOk: hsl(160, 55%, 30%);
    --accentVeryLight: hsl(var(--hue), 25%, 26%);
    --accentVeryLightContrast: hsl(var(--hue), 53%, 87%);
    --bgPrimary: hsl(0, 0%, 7%);
    --bgSecondary: hsl(0, 0%, 11%);
    --bgContrast: hsl(0, 0%, 21%);
    --bgHighlight: hsl(var(--hue), 20%, 12%);
    --bgPositive: hsl(156deg, 20%, 12%);
    --fgPrimary: hsl(0, 0%, 100%);
    --fgSecondary: hsl(0, 0%, 92%);
    --fgTertiary: hsl(0, 0%, 86%);
    --fgContrast: hsl(0, 0%, 100%);
    --greyLight: hsl(0, 0%, 67%);
    --tablePrimary: hsl(0, 0%, 9%);
    --tableEmpty: hsl(0, 0%, 6%);
    --border: hsl(0, 0%, 17%);
    color-scheme: dark;
}

@media (prefers-color-scheme: dark) {
    :root:not([data-theme=light]) {
        --accentLight: hsl(var(--hue), 55%, 30%);
        --accentDark: hsl(var(--hue), 20%, 48%);
        --accentWarn: hsl(0, 40%, 40%);
        --accentOk: hsl(160, 55%, 30%);
        --accentVeryLight: hsl(var(--hue), 25%, 26%);
        --accentVeryLightContrast: hsl(var(--hue), 53%, 87%);
        --bgPrimary: hsl(0, 0%, 7%);
        --bgSecondary: hsl(0, 0%, 11%);
        --bgContrast: hsl(0, 0%, 21%);
        --bgHighlight: hsl(var(--hue), 20%, 12%);
        --bgPositive: hsl(156deg, 20%, 12%);
        --fgPrimary: hsl(0, 0%, 100%);
        --fgSecondary: hsl(0, 0%, 92%);
        --fgTertiary: hsl(0, 0%, 86%);
        --fgContrast: hsl(0, 0%, 100%);
        --greyLight: hsl(0, 0%, 67%);
        --tablePrimary: hsl(0, 0%, 9%);
        --tableEmpty: hsl(0, 0%, 6%);
        --border: hsl(0, 0%, 17%);
        color-scheme: dark;
    }
}