:root {
    --txt: #363636;
    --txt2: #585858;
    --darkAccent: 34, 117, 56;
    --darkAccent2: 31, 95, 69;
    --lightAccent: 98, 148, 100;
    --heroContent: 255, 255, 255;
    --bgLight: 255, 255, 255;
    --bgDark: 247, 247, 247;
    --fgDark: 54, 54, 54;
    --accent: #629464;
    --accent2: #3b803f;
    --button: #ebebeb;
    --buttonHover: #dbe6dc;
    --buttonFocus: #cef0cf;
    --highlightLight: 206, 240, 207;
    --shadow: #aaaaaa60;
}

@media only screen {
    :root[data-theme=dark] {
        
    }
}