:root {
    --accentLight: 98, 148, 100;
    --accentDark: 34, 117, 56;
    --hero1: 34, 117, 56;
    --hero2: 31, 95, 69;
    --accentVeryLight: 206, 240, 207;
    --bgPrimary: 255, 255, 255;
    --bgSecondary: 240, 240, 240;
    --bgTertiary: 230, 230, 230;
    --fgPrimary: 54, 54, 54;
    --fgSecondary: 88, 88, 88;
    --fgTertiary: 98, 98, 98;
    --fgContrast: 255, 255, 255;
    --greyLight: 170, 170, 170;
}

:root.dark {
    --accentLight: 34, 117, 56;
    --accentDark: 98, 148, 100;
    --hero1: 34, 117, 56;
    --hero2: 31, 95, 69;
    --accentVeryLight: 49, 82, 50;
    --bgPrimary: 18, 18, 18;
    --bgSecondary: 29, 29, 29;
    --bgTertiary: 247, 247, 247;
    --fgPrimary: 255, 255, 255;
    --fgSecondary: 235, 235, 235;
    --fgTertiary: 220, 220, 220;
    --fgContrast: 255, 255, 255;
    --greyLight: 170, 170, 170;
}

@media (prefers-color-scheme: dark) {
    :root:not(.light) {
        --accentLight: 34, 117, 56;
        --accentDark: 98, 148, 100;
        --hero1: 34, 117, 56;
        --hero2: 31, 95, 69;
        --accentVeryLight: 49, 82, 50;
        --bgPrimary: 18, 18, 18;
        --bgSecondary: 29, 29, 29;
        --bgTertiary: 247, 247, 247;
        --fgPrimary: 255, 255, 255;
        --fgSecondary: 235, 235, 235;
        --fgTertiary: 220, 220, 220;
        --fgContrast: 255, 255, 255;
        --greyLight: 170, 170, 170;
    }
}